body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #000;
    height: 100px;
}
.header-container {
    max-width: 1140px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo-area {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 40px;
    overflow: hidden;
    text-align: center;
}
.logo {
    color: black;
    background-color: #b68a59;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}

.menu-area {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu-area ul {
    display: flex;
}

.menu-area li a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
    padding: 0 8px;
    
    font-weight: 600;
    font-size: 13px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    border-bottom: 5px solid transparent;
}
.menu-area li a:hover,
.menu-area li.active-section a {
    border-bottom: 5px solid #b68a59;
    color: #b68a59;
}

/* Banner principal */

.banner {
    height: calc(100vh - 100px);
    background: url(../../media/main-banner.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative; /* elemento posicionado para conter os indicadores do slide atual (bolinha de cada slide) */
}

.banner .slide-wrapper {
    height: 100%;
    width: 300vw;
    display: flex;
    flex-wrap: nowrap;
}
.banner .slide {
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner .slide h1 {
    font-size: 64px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 0 3px #000;
}
.banner .slide h1 span {
    color: #b68a59;
}
.banner .slide h1 + div {
    margin-top: 20px;
    color:#FFF;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
.button { /* Classe reaproveitada em outros botoes da pagina */
    display: block;
    text-decoration: none;
    height: 40px;
    width: 170px;
    line-height: 40px;
    margin-top: 40px;
    background-color: #b68a59;
    color: #FFF;
    border-radius: 20px;
    font-size: 13px;
    text-align: center;
    text-shadow: 0 0 3px #555;
    text-transform: uppercase;
    font-weight: 600;
    transition: transform 150ms linear;
}
.button:hover {
    cursor: pointer;
    transform: scale(1.3);
}
.banner .slide-icons {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.banner .slide-icons li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #b68a59;
    border-radius: 8px;
    text-indent: -10000px;
}
.banner .slide-icons li:hover {
    cursor: pointer;
}
.banner .slide-icons li.active-slide {
    background-color: #b68a59;
}
/* --- FIM DO BANNER ---

   --- INÍCIO DO CONTEÚDO ---
*/

.light {
    background-color: #f7f7f7;
    color: #000;
}
.dark {
    background-color: #000;
    color: #FFF;
}
.section-default {
    padding: 50px 0;
}

.section-title,
.section-subtitle {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.section-title {
    font-size: 28px;
}
.section-subtitle {
    font-size: 15px;
    margin-top: 10px;
    color: #AEAEAE;
}
.section-body {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.about-us {
    display: flex;
}
.about-us-left {
    flex: 1;
}
.about-us-left p {
    font-size: 14px;
    line-height: 30px;
}

.about-us-right {
    width: 450px;
    margin-left: 30px;
    box-shadow: 0 0 10px #444;
}
.about-us img {
    width: 100%;
}