body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #000;
    height: 100px;
}
.header-container {
    max-width: 1140px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo-area {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 40px;
    overflow: hidden;
    text-align: center;
}
.logo {
    color: black;
    background-color: #ec8d1f;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}

.menu-area {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu-area ul {
    display: flex;
}

.menu-area li a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
    padding: 0 8px;
    
    font-weight: 600;
    font-size: 13px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    border-bottom: 5px solid transparent;
}
.menu-area li a:hover,
.menu-area li.active a {
    border-bottom: 5px solid #ec8d1f;
    color: #ec8d1f;
}
